<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename ='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weed Detection</title>
</head>

<body>
    
  <style>
    body {
      background-image:url({{url_for('static', filename = 'bg_image.jpg')}})
    }
    </style>
    <section class="background firstsection"><br><br>
        <div class="box-main">
            <div class="firsthalf">
              
                <p class=text-big>WEED DETECTION USING ML.</p>
                
            </div>
            <br><br>
            <div>
              <form method ="post" action="/video_run">
                <button class = "btn btn1" type="submit"  value="video"> Start </button>
              </form>
            </div>
        </div>
    </section>

    <br><br><br><br><br>


    

</body>

</html>